/* The Modal (background) */
.tvlModal {
	font-family: sans-serif;
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	box-sizing: border-box;
	z-index: 999; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.tvlModal-content {
	position: relative;
	background-image: url('TVL_Logo_Watermark.png');
	background-size: cover;
	background-color: #000000;
	z-index: 998;
	margin: auto;
	border-radius: 10px;
	border: 2px solid #888;
	width: 80%;
	box-sizing: border-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.5s;
}

/* Styling for the header */
.tvlModal-header {
	background-color: #03ac6c80;
	padding: 10px;
	box-sizing: border-box;
}

/* General styling for the content */
.tvlModal-content h1 {
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding: 5px;
	margin: 0px;
	width: 100%;
	box-sizing: border-box;
}

/* Styling for the body */
.tvlModal-body {
	margin-top: 15px;
	text-align: center;
	color: lightgray;
	width: 100%;
	box-sizing: border-box;
	height: auto;
}

.tvlModal-body h3 {
	margin: 5px;
}

.tvlModal-body a {
	text-decoration: none;
	color: #03ac6c;
}

.tvlModal-button {
	display: inline-block;
	margin: auto;
	padding: 16px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

.tvlModal-button button:first-of-type {
	background: linear-gradient(indianred, #000000);
}

.tvlModal-button button {
	color: lightgray;
	width: 15%;
	max-width: 15%;
	font-size: 20px;
	padding: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 10px;
	border-radius: 5px;
	background: linear-gradient(#03ac6c, #000000);
}

.tvlModal-button button:hover {
	cursor: pointer;
	animation-name: hover;
}

/* Animate In */
@keyframes animatetop {
	from {
		top: -300px;
		width: 0%;
		opacity: 0;
	}
	to {
		top: 0;
		width: 80%;
		opacity: 1;
	}
}
